[control_plane]
kubeadm-cp-1 ansible_host=${control_plane_public_ip} private_ip=${control_plane_private_ip} ansible_user=${node_user}

[workers]
%{ for worker in workers ~}
kubeadm-${worker.name} ansible_host=${worker.public_ip} private_ip=${worker.private_ip} ansible_user=${node_user}
%{ endfor ~}

[kube_cluster:children]
control_plane
workers
